* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	.todo-form {
		margin-top: 1vh;
		display: flex;
		flex-direction: column;
	}

	label {
		font-style: italic;
	}

	input,
	button {
		padding: 0.3rem;
	}

	button:disabled {
		background-color: #cccccc;
		transition: color 2s ease-out;
	}

	button:enabled {
		background-color: green;
		transition: color 2s ease-out;
	}
}
